In [2]:
courses = ['ML','DL','Python','DS']

In [4]:
print(len(courses))

4

In [6]:
print(courses[3])

DS

In [7]:
print(courses[0])

ML

In [9]:
print(courses[2])

Python

In [10]:
print(courses[-3])

DL

In [11]:
print(courses[-2])

Python

In [12]:
print(courses[+2])

Python

In [13]:
print(courses[-0])

ML

In [14]:
print(courses[0:3])

['ML', 'DL', 'Python']

In [15]:
print(courses[0:2])

['ML', 'DL']

In [16]:
print(courses[0:1])

['ML']

In [17]:
print(courses[0:0])

[]

In [18]:
print(courses[2:3])

['Python']

In [19]:
print(courses[1:3])

['DL', 'Python']

In [24]:
courses.append('NLP')

In [26]:
print(courses)

['ML', 'DL', 'Python', 'DS', 'NLP', 'NLP']

In [29]:
courses.remove('NLP')

In [30]:
print(courses)

['ML', 'DL', 'Python', 'DS']

In [31]:
popped = courses.pop()

print(popped)
print(courses)

DS
['ML', 'DL', 'Python']

In [32]:
courses.reverse()

In [33]:
print(courses)

['Python', 'DL', 'ML']

In [36]:
nums = [1,2,3,4,5,6,7,8,9]

In [37]:
print(min(nums))

1

In [39]:
print(max(nums))

9

In [40]:
print(max(nums))
print(max(nums))

9
9

In [41]:
print(max(nums))
print(min(nums))

9
1

In [50]:
courses = ['ML','DL','Python','DS']

In [51]:
print(courses.index('DL'))

1

In [53]:
print('ML' in courses)

True

In [56]:
print('Python' in courses)

True

In [58]:
print('ANN' in courses)

False

In [59]:
courses = ['ML','DL','Python','DS']

In [60]:
for item in courses:
    print(item)

ML
DL
Python
DS

In [61]:
for item in courses:
    print(courses)

['ML', 'DL', 'Python', 'DS']
['ML', 'DL', 'Python', 'DS']
['ML', 'DL', 'Python', 'DS']
['ML', 'DL', 'Python', 'DS']

In [63]:
##indexing of the all courses

for index,course in enumerate(courses,start=1):
    print(index,course)

1 ML
2 DL
3 Python
4 DS

In [64]:
##tuple-truple have the heterogenous data which can store the string as well as list

In [65]:
courses = ['ML','DL','Python','DS']

In [70]:
course_str= ' - '.join(courses)
print(course_str)

ML - DL - Python - DS

In [74]:
course_str= ' - '.join(courses)
new_lst = course_str.split('-')
print(course_str)

ML - DL - Python - DS

In [75]:
#in tuple we can modify the data ,we can say its mutable ans imuutable.

In [76]:
list_1 =['ML','DL','Python','DS']
list_2 =['ML','DL','Python','DS']

In [77]:
print(list_1)
print(list_2)

['ML', 'DL', 'Python', 'DS']
['ML', 'DL', 'Python', 'DS']

In [78]:
list_1[2] = 'ANN'

In [79]:
print(list_1)
print(list_2)

['ML', 'DL', 'ANN', 'DS']
['ML', 'DL', 'Python', 'DS']

In [82]:
tuple_1  =['ML','DL','Python','DS']
tuple_2  = tuple_1

In [83]:
print(tuple_1)
print(tuple_2)

['ML', 'DL', 'Python', 'DS']
['ML', 'DL', 'Python', 'DS']

In [84]:
#Sets-Sets are always used to store multiple value in single store .

In [91]:
cs_courses = {'ML','DL','Python','DS'}

In [92]:
print(cs_courses)

{'Python', 'ML', 'DL', 'DS'}

In [95]:
cs_courses = {'ML','DL','Python','DS'}
gs_courses = {'IOT','DL','C','AI'}

In [96]:
print('Math' in cs_courses)

False

In [98]:
##diffrence beatween both courses 
print(cs_courses.difference(gs_courses))

{'ML', 'Python', 'DS'}

In [99]:
print(cs_courses.union(gs_courses))

{'DS', 'DL', 'C', 'ML', 'IOT', 'AI', 'Python'}

In [100]:
##Empty List 
empty_list =[]
empty_list =list()

In [101]:

##Empty tuple 
empty_tuple =[]
empty_tuple =tuple()

In [102]:
##Empty set 
empty_set =[]
empty_set =set()